/*style.css*/
*{
	margin:0;
	padding:0; 
}
.main-container{
	width: 80%;
	height: 1000px;

	margin:0 auto;
	border:1px solid black;
}
nav{
	height: 60px;
	width: 100%;

	background-color: goldenrod;
}
nav ul{
	display: flex;
	justify-content: space-around;

	margin-left: 700px;
}
nav li{
	list-style-type: none;

	margin-top: 20px;
}
.logo{
	height: 40px;
	width: 40px;

	background-color: black;

	position: absolute;
	margin-top: 10px;
	margin-left: 100px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-container{
	width: 60%;
	height: 1000px;

	/*border:1px solid black;*/

	margin:150px auto;
}